{% extends 'front/front_base.html' %}
{% from "common/_macros.html" import static %}

{% block title %}
    {{ course.title }}
{% endblock %}

{% block head %}
    <script src="{{ static('ueditor/ueditor.config.js') }}"></script>
    <script src="{{ static('ueditor/ueditor.all.min.js') }}"></script>
    <script src="{{ static('front/js/front_cdetail.js') }}"></script>
    <link rel="stylesheet" href="{{ static('front/css/front_cdetail.css') }}">
{% endblock %}

{% block body %}
    <div class="lg-container">
        <div class="course-container">
            <h2>{{ course.title }}</h2>
            <p class="course-info-group">
                <span>发表时间：{{ course.create_time }}</span>
                <span>作者：{{ course.author.username }}</span>
                <span>所属板块：{{ course.board.name }}</span>
                <span>阅读数：{{ course.click }}</span>
                <span>评论数：{{ course.comments | length }}</span>
            </p>
            <article class="course-content" id="course-content" data-id="{{ course.id }}">
                {{ course.content|safe }}
            </article>
        </div>
        <div class="comment-group">
            <h3>评论列表</h3>
            <ul class="comment-list-group">
                {% for comment in course.comments %}
                    <li>
                        <div class="avatar-group">
                            <img src="{{ comment.author.avatar or static('common/images/logo.jpg') }}" alt="">
                        </div>
                        <div class="comment-content">
                            <p class="author-info">
                                <span>{{ comment.author.username }}</span>
                                <span>{{ comment.create_time }}</span>
                            </p>
                            <p class="comment-txt">
                                {{ comment.content|safe }}
                            </p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="add-comment-group">
            <h3>发表评论</h3>
            <script class="editor" id="editor" type="text/plain"style="height: 100px;"></script>
            <div class="comment-btn-group">
                <button class="btn btn-primary" id="comment-btn">发表评论</button>
            </div>
        </div>
    </div>
    <div class="sm-container">
        <div id="starRating">
            <p class="photo">
                <span><i class="high"></i><i class="nohigh"></i></span>
                <span><i class="high"></i><i class="nohigh"></i></span>
                <span><i class="high"></i><i class="nohigh"></i></span>
                <span><i class="high"></i><i class="nohigh"></i></span>
                <span><i class="high"></i><i class="nohigh"></i></span>
            </p>
            <p class="starNum">请评分</p>
            <div class="bottoms">
                <a class="garyBtn cancleStar">取消评分</a><a class="blueBtn sureStar">确认</a>
            </div>
        </div>
        <script>

        </script>
    </div>
{% endblock %}