{% extends 'cms/cms_signbase.html' %}
{% from "common/_macros.html" import static %}

{% block title %}
    卧龙MOOE注册
{% endblock %}

{% block head %}
<link href="{{ url_for('static',filename='cms/css/cms_signup.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container">
        <form class="form-signup" method="post">
            <h2 class="form-signup-heading">请注册</h2>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <label for="inputEmail" class="sr-only">邮箱：</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="邮箱" name="email" required autofocus>
            <label for="inputName" class="sr-only">用户名：</label>
            <input type="text" id="inputName" class="form-control" placeholder="用户名" name="username" required autofocus>
            <label for="inputPassword" class="sr-only">密码：</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="密码" name="password" required>
            <label for="inputPassword" class="sr-only">重复密码：</label>
            <input type="password" id="inputPassword1" class="form-control" placeholder="重复密码" name="password1" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">立即注册</button>
        </form>
        {% if message %}
            <p class="text-danger" style="text-align: center">{{ message }}</p>
        {% endif %}
    </div> <!-- /container -->
{% endblock %}