{% extends 'cms/cms_base.html'%}

{% block title %}
    个人信息
{% endblock %}

{% block page_title %}
    {{ self.title()}}
{% endblock %}

{% block main_content %}
    {% set teacher = g.teacher %}
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td>用户名：</td>
                <td>{{ teacher.username }}</td>
            </tr>
            <tr>
                <td>邮箱：</td>
                <td>{{ teacher.email }}</td>
            </tr>
            <tr>
                <td>角色：</td>
                <td>
                    {% if teacher.role == 0 %}
                    教师
                    {% else %}
                    管理员
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>加入时间</td>
                <td>{{ teacher.join_time }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}