{% extends 'cms/cms_base.html'%}
{% from "common/_macros.html" import static %}

{% block title %}
    课程管理
{% endblock %}

{% block page_title %}
    {{ self.title()}}
{% endblock %}

{% block head %}
    <script src="{{ static('cms/js/cms_courses.js') }}"></script>
{% endblock %}

{% block main_content %}
    <div class="top-box"style="float:right;">
        <a href="{{ url_for('cms.acourse') }}" class="btn btn-warning btn-block" >添加课程</a>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>课程标题</th>
                <th>所属板块</th>
                <th>跳转链接</th>
                <th>作者</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% for course in courses %}
                <tr data-id="{{ course.id }}">
                    <td>{{ course.title }}</td>
                    <td>{{ course.board.name}}</td>
                    <td>
                        <div>
                            <a href="http://127.0.0.1:5000/c/{{ course.id }}/"target="_blank">点击跳转</a>
                        </div>
                    </td>
                    <td>{{ course.author.username }}</td>
                    <td>{{ course.create_time }}</td>
                    <td>
                        <button class="btn btn-danger btn-xs delete-course-btn">删除</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}